body {
	color: black;
	font-family: sans-serif;
	margin: 0px;
}

a {
	color: #fcfcfc;
	text-decoration: none;
}

.link {
	color: #1989d4;
	cursor: pointer;
}

.navigation {
	background-color: #1989d4;
	color: #fcfcfc;
	font-size: 24pt;
	line-height: 70pt;
	margin-bottom: 40px;
	text-align: center;
}

.header {

	font-size: 24pt;
	line-height: 36pt;
	margin: 10px 10px 20px;
	text-align: center;
}

.main-wrapper {
	border-radius: 5px;
	box-shadow: 0px 0px 40px 1px #acacac;
	margin: 10px auto;
	max-width: 960px;
	padding: 20px;	
}

.content {

}

.flight-list {
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	
}

.flight {
	border-top: 1px solid #B2B2B2;
	font-size: 14pt;
	text-align: center;
	padding: 15px 5px;
}

.container {
	font-size: 14pt;
	line-height: 22pt;
	padding: 10px 5px;
	text-align: center;
}

.line {
	border-bottom: 1px dotted #B2B2B2;
}

.last {
	border: none
}

input, select {
	font-size: 14pt;
}

.input-field {
	width: 80px;	
}

.button {
	background-color: #1989d4;
	border: none;
	border-radius: 3px;
	color: #fcfcfc;
	cursor: pointer;
	font-size: 14pt;
	margin: auto;
	padding: 5px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}

.button.small {
	font-size: 12pt;
}

.booking-number {
	font-size: 20pt;
	font-weight: 600;
	line-height: 48pt;
}

/* fields */
.small {
	display: inline-block;
	font-size: 12pt;
	width: 82px;
}

.big {
	display: inline-block;
	font-size: 12pt;
	width: 190px;
}

/* layouts */
.left {
	text-align: left;	
}

.half {
	display: inline-block;
	width: 400px;
}

.third {
	display: inline-block;
	width: 33%;
}

.fourth {
	display: inline-block;
	width: 25%;
}

.inline {
	display: inline-block;
}